# {{ ansible_managed }}

GRAFANA_HOME=/usr/share/grafana
LOG_DIR=/var/log/grafana
DATA_DIR=/var/lib/grafana
MAX_OPEN_FILES=10000
CONF_DIR=/etc/grafana
CONF_FILE=/etc/grafana/grafana.ini
RESTART_ON_UPGRADE=true
PLUGINS_DIR=/var/lib/grafana/plugins
PROVISIONING_CFG_DIR=/etc/grafana/provisioning
PID_FILE_DIR=/run/grafana
{% if grafana_proxy_url is defined %}

https_proxy={{ grafana_proxy_url }}
http_proxy={{ grafana_proxy_url }}
no_proxy={{ grafana_proxy_ignore|join(',') }}
{% endif %}
